@import url("https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i");
input:focus {
  outline: none;
}



body {
  font-family: "Karla", sans-serif;
  line-height: 1.75;
  /*min-height: 100%;
  background: black;
  color: white;
  font-size: 1.6rem;
  line-height: 1.75;*/
}


.left-col{
  background-color: #ffbd4e;
  min-height: 70px;
  max-height: 200px
}
.item {
  text-align:center;
  border:1px solid #eee;
  padding:20px;
}


.love p{
  color: #b3b3b3
}
.imoveisfav:focus, .imoveisfav:hover{
  text-decoration: none;
  color:#b3b3b3;
  border: 2px solid white;
  transition: all 0.3s;
  width: 119px;
  margin: 1rem;
  padding: 1rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.imoveisfav {
  
  margin: 1rem;
  color:#b3b3b3;
  padding: 1rem;
  width: 119px;
  /*height: 49px;*/
  /*border: 1px solid white;*/
  cursor: pointer;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  /*flex-direction: column;*/
  text-align: center;
  border-radius: 44px;
}
.imoveisfav svg {
  margin-left: 7px !important;
  margin-top: 3px !important;
  margin-top: 1rem;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  transition: all 1s;
  height: 20px;
  width: auto;
  fill: #b3b3b3;
}
.imoveisfav.active {
  /*border: 1px solid white;*/
  background-color: white;
  color: #ffbd4e;
}
.imoveisfav.active svg {
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
  transition: all 1s;
  fill: #ffbd4e;
  height: 20px;
}
